@font-face {
    font-family: 'Anta';
    src: url(../assets/fonts/Anta-Regular.ttf);
}

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191925;
}

#background{
    background-image: url(../assets/backgrounds/background-loop.gif);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    filter: blur(10px);
    transform: scale(1.05);
    top: 0;
    z-index: -1;
}

.center-object {
    text-align: center;
}

.center-object h1, h2 {
    font-family: "Anta";
    color: white;
    text-shadow: 0px 0px 5px black;
}